.row{
    display: flex;
    gap: 10px;
    height: 70px;
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.col{
    background-color: olivedrab;
    flex:1;
    
}
.col-2{
    background-color: olivedrab;
    flex:2;
}
.col-3{
    background-color: olivedrab;
    flex:3
}